



<h2 style="text-align: center;">確認用のメールを送ります。</h2>

<div class="dev_sign_all center-block"><!--    大枠    -->
  <div class="dev_sign_per center-block"><!--    中枠    -->
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="field">
        <%= f.label :Eメール %><br />
        <%= f.email_field :email, :class => "form-control", autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit "メールを送る", :class => "btn-primary btn_sign" %>
      </div>
    <% end %>
    
    <div class="dev_sign_bottom center-block"><!--   リンク  -->
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>