
<h2 style="text-align: center;">編集</h2>

<div class="dev_sign_all center-block"><!--    大枠    -->

<ul class="nav nav-tabs">
       <li><a href="#home2" data-toggle="tab">基礎情報</a></li>
       <li><a href="#prof2" data-toggle="tab">パスワード</a></li>
       <li><a href="#prof3" data-toggle="tab">画像変更</a></li>

     </ul><!-- nav-tabs -->
      
     <div class="tab-content">
       <div class="tab-pane fade in active" id="home2"><!--      基本情報      -->
        <div class="u_sh_tag center-block">
         <div class="u_sh_profile bo_rad_3 center-block">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>
            
                <%= f.label :名前 %>
                <%= f.text_field :name, autofocus: true, class: :"form-control" %>
      
                <%= f.label :お仕事 %><br />
                <%= f.text_field :job, autofocus: true, class: :"form-control" %>
      
              <div class="field">
                <%= f.label :prefecture %><br />
                <%= f.text_field :prefecture, autofocus: true, class: :"form-control" %>
              </div>
              
              <div class="field">
                <%= f.label :profile %><br />
                <%= f.text_field :profile, autofocus: true, class: :"form-control" %>
              </div>
              
              <div class="field">
                <%= f.label :blog %><br />
                <%= f.text_field :blog, autofocus: true, class: :"form-control" %>
              </div>
            
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
            
              <div class="actions">
                <%= f.submit "更新", class: :"btn" %>
              </div>
            <% end %>
         </div>
        </div>
       </div>
       
       <div class="tab-pane fade" id="prof2"><!--      パスワード      -->
        <div class="u_sh_tag center-block">
         <div class="u_sh_profile bo_rad_3 center-block">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
    
              <%= f.label :Eメール%><br />
              <%= f.email_field :email, autofocus: true, class: :"form-control" %>

              <%= f.label :パスワード %> <i>(<%= @minimum_password_length %> 文字以上)</i><br />
              <%= f.password_field :password, autocomplete: "off", class: :"form-control" %>


            <div class="field">
              <%= f.label :確認用パスワード %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: :"form-control" %>
            </div>
    
          
            <div class="actions">
              <%= f.submit "更新", class: :"btn" %>
            </div>
          <% end %>
        </div>
       </div>
      </div>
      
       <div class="tab-pane fade" id="prof3"><!--      画像変更      -->
        <div class="u_sh_tag center-block">
         <div class="u_sh_profile bo_rad_3 center-block">
             <div class="u_edit_icon_icon">
                  <div class="di_inline_t">
                      <%= image_tag(gravatar_for(@user), alt: @user.email, class:"gravatar center-block bo_rad_3", :size => '100x100') %>
                  </div>
                  <div class="di_inline_t">
                      　画像変更は<%= link_to "こちら", "https://ja.gravatar.com/", target: :"_blank"%>から行ってください。<br>
                      　画像保管、表示にはGravatarサービスを利用しています。メールアドレスを元に画像の認識、利用が行われます。
                  </div>
             </div>
        </div>
       </div>
      </div>
    </div>
      
       
     </div><!-- tab-content -->
</div>
