<h2 style="text-align: center;">Sign up</h2>

<div class="dev_sign_all center-block"><!--    大枠    -->
  <div class="dev_sign_per center-block"><!--    中枠    -->
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="field">
        <%= f.label :Eメール %><br />
        <%= f.email_field :email, :class => "form-control", autofocus: true %>
      </div>
    
      <div class="field">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, :class => "form-control", autocomplete: "off" %>
      </div>
    
      <div class="field">
        <%= f.label :確認用パスワード %><br />
        <%= f.password_field :password_confirmation, :class => "form-control", autocomplete: "off" %>
      </div>
    
      <div class="actions">
        <%= f.submit "Sign up", :class => "btn-primary btn_sign" %>
      </div>
    <% end %>
    
    <div class="dev_sign_bottom center-block"><!--   リンク  -->
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
