    <div class="us_sh_left"><!--   左サイド   -->
        <div id="container">
          <div id="main">　</div>
            <div id="sidebar"><!-- サイドバー -->
              <div id="nav">
                <div class="b_10"></div>
                <div class="us_sh_image center-block"><!-- ログインユーザーアイコン -->
                  <%= image_tag(gravatar_for(user), alt: user.email, class:"gravatar center-block bo_rad_3") %>
                </div>
                <div class="user_name center-block"><%= user.name %></div><!-- ログインユーザー名 -->
                <div class="user_created center-block"><%= date_format(user.created_at) %></div><!-- ログインユーザー登録日 -->
                <div class="user_option center-block">
                 <table class="table table-striped table-bordered table-hover">
                      <tbody>
                      <tr scope="row">
                          <td class="bg-danger text-danger">RANKING</td>
                          <td><%= @user.rank %></td>
                      </tr>
                      <tr scope="row">
                          <td class=" bg-danger text-danger">Total</td>
                          <td class="bg-warning text-warning"><%= @user.score %></td>
                      </tr>
                      </tbody>
                  </table>
                </div><!-- ログインユーザー登録日 -->
                <div class="user_edit center-block bo_rad_3"><%= link_to "プロフィールを編集する", edit_user_registration_path %></div><!-- ログインユーザー登録日 -->
              </div>
            </div>
        </div>
        
        <div class="us_sh_left_bottom center-block"><!-- 左サイド下部  -->
        
          <div class="us_sh_left_bottom_title1 center-block">
              <strong id="following" class="stat">
                フォロー　<%= user.following.count %>
              </strong>
          </div>
          
          <div class="us_sh_left_bottom_con1 center-block"><!-- フォローアイコン  -->
            <% fo_user = 0%>
            <% following_users.first(16).each do |user| %>
             <%= link_to image_tag(gravatar_for(user), alt: user.email, class:"gravatar bo_rad_3", :size => '30x30'), user %>
             <% fo_user += 1 %>
            <% end %>
            <% if fo_user > 16 %>
              <%= link_to "もっとみる", like_users_micropost_path %>
            <% end %>
          </div>
          
          <div class="us_sh_left_bottom_line center-block"></div><!--  線   -->
          
          <div class="us_sh_left_bottom_title1 center-block">
              <strong id="following" class="stat">
                フォロワー　<%= user.followers.count %>
              </strong>
          </div>
          
          <div class="us_sh_left_bottom_con1 center-block"><!-- フォロワーアイコン  -->
            <% followers_users.first(16).each do |user| %>
             <%= link_to image_tag(gravatar_for(user), alt: user.email, class:"gravatar bo_rad_3", :size => '30x30'), user %>
            <% end %>
          </div>
          <div class="us_sh_left_bottom_follow_bu center-block"><%= render 'follow_form' %></div>
        </div>
        
    </div>