   <div class="us_sh_right_top center-block"><!--   右サイド上部   -->
     <ul class="nav nav-tabs">
       <li><a href="#home2" data-toggle="tab">プロフィール</a></li>
       <li><a href="#prof2" data-toggle="tab">グラフ</a></li>
       <li><a href="#msgs2" data-toggle="tab">タグ</a></li>
     </ul><!-- nav-tabs -->
      
     <div class="tab-content">
       <div class="tab-pane fade in active" id="home2"><!--      プロフィール      -->
        <div class="u_sh_tag center-block">
        <%= user.name %>
        <%= user.job %>
        <%= user.prefecture %>
        <%= user.profile %>
        <%= user.blog %>
        </div>
       </div>
       
       <div class="tab-pane fade" id="prof2"><!--      グラフ      -->
       </div>
       
       <div class="tab-pane fade" id="msgs2"><!--      タグ      -->
        <div class="u_sh_tag center-block">
          <% tag_num = 0 %>

         <% user.microposts.first(60).each do |micropost| %>
             <% micropost.tags.each do |tag| %>
              <div class="u_sh_tag_per di_inline_t"><span class="label label-primary"><%= tag.name %></span></div>
                  <% tag_num += 1 %>
             <% end %>
         <% end %><br>
          <% if tag_num > 60 %>
           <%= link_to "もっとみる", tags_user_path %>
          <% end %>
        </div>
       </div>
     </div><!-- tab-content -->
   </div>