<% if !micropost.nil? %>
    <div class="no_1">
     <div class="no_1_title center-block text_shadow">HotTopTitle</div>
     <div class="di_inline_t"><!--          内容          -->
      <div class="no_1_left">
       <div class="no_1_left_title">
       <%= link_to "#{micropost.title.truncate(64)}", micropost %>
       </div>
       <div class="no_1_left_content">
        <%= @rank_title.content.truncate(449) %>
       </div>
       <div class="di_inline_t wi_100"><b>評価 <%= micropost.likes.count %></b></div><!--          評価          -->
       <div class="di_inline_t wi_100"><b>PV <%= micropost.rank %></b></div><!--          PV          -->
       　　　　　　
       <div class="di_inline_t wi_200">
         <% micropost.tags.each do |tag| %>
          <span class="label label_red"><%= tag.name %></span>
         <% end %>
       </div><!--          タグ          -->
       　　
       <div class="di_inline_t wi_100">
        <%= date_format(micropost.created_at) %>
       </div><!--          時間          -->
      </div>
     </div>
     
     
     <div class="di_inline_t"><!--          ユーザー情報          -->
      <div class="no_1_right">
       
       <div class="di_inline_t"><div class="no_1_image">
        <%= link_to image_tag(gravatar_for(micropost.user), alt: @rank_title.user.email, class:"gravatar bo_rad_3", :size => '110×110'), micropost.user %>
       </div></div><!--          ユーザー画像          -->
       
       <div class="di_inline_t"><div class="no_1_name">
        <%= link_to "#{micropost.user.name}", micropost.user %>
       </div></div><!--          ユーザー名          -->
       
       <div class="h_10"></div>
       <div class="no_1_score bo_rad_3 center-block"><b>スコア <span class="fs_20"><%= micropost.user.score %></span></b></div>
       <div class="no_1_score bo_rad_3 center-block"><b>ランク <span class="fs_20"><%= micropost.user.rank %></span> 位</b></div>
      </div>
     </div>
     
     
    </div><br>
<% end %>