<div class="in_right"><!--          右サイド          -->

<div class="in_right_con1 center-block bo_rad_3"><!--          スコア          -->
<div class="in_right_con1_t center-block"><b>スコア <span class="fs_20"><%= @all_score %></span></b></div>
<div class="in_right_con1_t center-block"><b>ランク <span class="fs_20"><%= current_user.rank %></span> 位</b></div>


</div><br />

<div class="in_right_con1_w center-block"><!--          人気のタグ          -->
<div class="pop_tag center-block">人気のタグ</div><br>
<% @tag_pops.each do |tag| %>
<span class="label label_red"><%= tag.name %></span>
<% end %>
</div><br />

<div class="in_right_con1_w center-block"><!--          Myタグ          -->
<div class="pop_tag center-block">Myタグ</div><br>
<%= render 'tags/tags', microposts: @tag_microposts %>
</div><br />

<div class="in_right_con1_w center-block"><!--          ランキング          -->
<div class="pop_tag center-block">ランク</div><br>
    <% @user_rank.each do |user| %>
     <div class="pg_rk center-block">
         <div class="di_inline_t">
             <div class="pg_rk_order">
                 <% if user.rank == 1 %>
                     <div class="gold bo_rad_3"><%= user.rank %></div>
                 <% elsif user.rank == 2 %>
                     <div class="silver bo_rad_3"><%= user.rank %></div>
                 <% elsif user.rank == 3 %>
                     <div class="darkgold bo_rad_3"><%= user.rank %></div>
                 <% else %>
                     <%= user.rank %>
                 <% end %>
                 
            </div>
         </div>
         <div class="di_inline_t">
             <%= link_to image_tag(gravatar_for(user), alt: user.email, class:"gravatar center-block bo_rad_3", :size => '30x30'), user %>
         </div>
         <div class="di_inline_t">
             <div class="pg_rk_name"><b><%= user.name %></b></div>
             <div class="pg_rk_name"><%= user.score %></div>
         </div>
     </div>
    <% end %>
</div><br />
</div>