<% if !user_signed_in? %>
<h1>ようこそ</h1>
<p>トップページです。</p>
<% end %>



<%= search_form_for @q do |f| %>

  <%# or で複数の値をorで検索（and 複数の値をand条件で検索） %>
  <%= f.search_field :title_or_content_cont, placeholder: "検索", class: :"form-control"%>
  <br />

  <%# 検索ボタン %>
  <%= f.submit "検索", class: "btn btn-primary center-block"%>
<% end %>


<!--          ログイントップページ          -->
<% if user_signed_in? %>

<div class="top_content center-block">
 
 <ul class="nav nav-tabs">
   <li><a href="#home2" data-toggle="tab">新着</a></li>
   <li><a href="#prof2" data-toggle="tab">プロトタイプ</a></li>
   <li><a href="#msgs2" data-toggle="tab">プレゼンテーション</a></li>
   <li><a href="#sets2" data-toggle="tab">注目</a></li>
   <li><a href="#sets3" data-toggle="tab">クリップ</a></li>
 </ul><!-- nav-tabs -->
  
 <div class="tab-content">
   <div class="tab-pane fade in active" id="home2">
    <% @microposts.each do |mic| %>
     <%= mic.id %>
     <%= image_tag(gravatar_for(mic.user), alt: mic.user.email, class:"gravatar") %>
     <%= link_to "#{mic.title}", mic %><%= mic.rank %><br />
     <%= mic.content.truncate(20) %><br />
     <%= date_format(mic.created_at) %><br />
     いいね数<%= mic.likes.count %><br />
    <% end %>
    <div class="t_a_c"><%= paginate @microposts %></div>
   </div>
   
   <div class="tab-pane fade" id="prof2">
    <% @microposts.each do |mic| %>
     <% if mic.purpose == 1 %>
      <%= mic.purpose %>
      <%= mic.id %>
      <%= image_tag(gravatar_for(mic.user), alt: mic.user.email, class:"gravatar") %>
      <%= link_to "#{mic.title}", mic %><%= mic.rank %><br />
      <%= mic.content.truncate(20) %><br />
      <%= date_format(mic.created_at) %><br />
      いいね数<%= mic.likes.count %><br />
     <% end %>
    <% end %>
    <div class="t_a_c"><%= paginate @microposts %></div>
   </div>
   
   <div class="tab-pane fade" id="msgs2">
    <% @microposts.each do |mic| %>
     <% if mic.purpose == 2 %>
      <%= mic.purpose %>
      <%= mic.id %>
      <%= image_tag(gravatar_for(mic.user), alt: mic.user.email, class:"gravatar") %>
      <%= link_to "#{mic.title}", mic %><%= mic.rank %><br />
      <%= mic.content.truncate(20) %><br />
      <%= date_format(mic.created_at) %><br />
      いいね数<%= mic.likes.count %><br />
     <% end %>
    <% end %>
    <div class="t_a_c"><%= paginate @microposts %></div>
   </div>
   
   <div class="tab-pane fade" id="sets2">
    <% @rank_mics.first(20).each do |mic| %>
     <%= mic.id %>
     <%= image_tag(gravatar_for(mic.user), alt: mic.user.email, class:"gravatar") %>
     <%= link_to "#{mic.title}", mic %><%= mic.rank %><br />
     <%= mic.content.truncate(20) %><br />
     <%= date_format(mic.created_at) %><br />
     いいね数<%= mic.likes.count %><br />
    <% end %>
   </div>
   
   <div class="tab-pane fade" id="sets3">
    <% @clip_mics.each do |mic| %>
     <%= mic.id %>
     <%= image_tag(gravatar_for(mic.user), alt: mic.user.email, class:"gravatar") %>
     <%= link_to "#{mic.title}", mic %><%= mic.rank %><br />
     <%= mic.content.truncate(20) %><br />
     <%= date_format(mic.created_at) %><br />
     いいね数<%= mic.likes.count %><br />
    <% end %>
    <div class="t_a_c"><%= paginate @microposts %></div>
   </div>
 </div><!-- tab-content -->

</div>
<% end %>