<title>Ruppish【ラピッシュ】| P&Fプラットフォーム</title>
<!--          ログイントップページ          -->
<% if user_signed_in? %>
<div class="top_content_in center-block">
    <%= render 'pages/search', q: @q %><!--          検索欄          -->
    
    <div class="di_inline_t">
     <div class="in_letf"><!--          左サイド          -->
        
        <div class="n_over"><!--          お知らせ大枠          -->
        <% @activities.first(6).each do |activity| %>
          <!--  自分が投稿した記事か？  -->
          <% current_user.microposts.each do |mic| %><!--  1  -->
            <% if mic.id == activity.trackable.micropost_id %>
              <!--  自分がフォローしているユーザーか？  -->
              <% current_user.following.each do |user| %><!--  2  -->
                <% if user.id == activity.owner.id %>
                  <div class="n_ac_con bo_rad_3">
        
                    <div class="di_inline_t">
                      <%= link_to image_tag(gravatar_for(activity.owner), alt: mic.user.email, class:"gravatar bo_rad_3", :size => '50x50'), activity.owner if activity.owner if activity.trackable -%>
                    </div>
                    
                    <div class="di_inline_t">
                      <div class="ac_no_sen">
                        <%= link_to "#{activity.owner.name}", activity.owner if activity.owner if activity.trackable -%>さんが
                        <%= link_to Micropost.find(activity.trackable.micropost_id).title.truncate(25), Micropost.find(activity.trackable.micropost_id) if activity.trackable -%>にいいね！しました
                      </div>
                    </div><br>
                    <%= date_format(activity.trackable.created_at) if activity.trackable %>
                  </div>
                <% end %>
              <% end %><!--  2  -->
          <% end %><!--  1  -->
        <% end %>
        <% end %>
      </div>
     </div>
    </div>


    <div class="di_inline_t"><!--          右サイド          -->
     <%= render 'pages/right', tag_pops: @tag_pops, tag_microposts: @tag_microposts %>
    </div>
    
 </div>
<% end %>

<div class="b_100"></div>