<div>選択できるタグは3つまでです。</div>
<div class="us_sh_right_top center-block"><!--   右サイド上部   -->
 <ul class="nav nav-tabs">
   <li><a href="#A" data-toggle="tab">A</a></li>
   <li><a href="#B" data-toggle="tab">B</a></li>
   <li><a href="#C" data-toggle="tab">C</a></li>
   <li><a href="#D" data-toggle="tab">D</a></li>
   <li><a href="#E" data-toggle="tab">E</a></li>
   <li><a href="#F" data-toggle="tab">F</a></li>
   <li><a href="#G" data-toggle="tab">G</a></li>
   <li><a href="#H" data-toggle="tab">H</a></li>
   <li><a href="#I" data-toggle="tab">I</a></li>
   <li><a href="#J" data-toggle="tab">J</a></li>
   <li><a href="#K" data-toggle="tab">K</a></li>
   <li><a href="#L" data-toggle="tab">L</a></li>
   <li><a href="#M" data-toggle="tab">M</a></li>
   <li><a href="#N" data-toggle="tab">N</a></li>
   <li><a href="#O" data-toggle="tab">O</a></li>
   <li><a href="#P" data-toggle="tab">P</a></li>
   <li><a href="#Q" data-toggle="tab">Q</a></li>
   <li><a href="#R" data-toggle="tab">R</a></li>
   <li><a href="#S" data-toggle="tab">S</a></li>
   <li><a href="#T" data-toggle="tab">T</a></li>
   <li><a href="#U" data-toggle="tab">U</a></li>
   <li><a href="#V" data-toggle="tab">V</a></li>
   <li><a href="#W" data-toggle="tab">W</a></li>
   <li><a href="#X" data-toggle="tab">X</a></li>
   <li><a href="#Y" data-toggle="tab">Y</a></li>
   <li><a href="#Z" data-toggle="tab">Z</a></li>
 </ul><!-- nav-tabs -->
  
 <div class="tab-content">
     
        
   
    <div class="tab-pane fade in active" id='A'><!--      A      -->
        <div class="u_sh_tag center-block">
         <div class="u_sh_profile bo_rad_3 center-block">
            <%= three_tag("A", "a", "ア") %>
         </div>
        </div>
    </div>
   
   <div class="tab-pane fade" id="B"><!--      B      -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= seven_tag("B", "b", "バ", "ビ", "ブ","べ", "ボ") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="C"><!--      C      -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= two_tag("C", "c") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="D"><!--      D      -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= seven_tag("D", "d", "ダ", "ヂ", "ヅ","デ", "ド") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="E"><!--      E      -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= three_tag("E", "e", "エ") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="F"><!--      F      -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= seven_tag("F", "f", "ファ", "フィ", "フ","フェ", "フォ") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="G"><!--      G       -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= seven_tag("G", "g", "ガ", "ギ", "グ","ゲ", "ゴ") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="H"><!--      H       -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= seven_tag("H", "h", "ハ", "ヒ", "フ","ヘ", "ホ") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="I"><!--      I       -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= three_tag("I", "i", "イ") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="J"><!--      J       -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= seven_tag("J", "j", "ジャ", "ジ","ジュ", "ジェ", "ジョ") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="K"><!--      K       -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= seven_tag("K", "k", "カ", "キ", "ク","ケ", "コ") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="L"><!--      L       -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= two_tag("L", "l") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="M"><!--      M       -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= seven_tag("M", "m", "マ", "ミ", "ム","メ", "モ") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="N"><!--      N       -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= seven_tag("N", "n", "ナ", "ニ", "ヌ","ネ", "ノ") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="O"><!--      O       -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
         <%= three_tag("O", "o", "オ") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="P"><!--      P       -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= seven_tag("P", "p", "パ", "ピ", "プ","ペ", "ポ") %>
     </div>
    </div>
   </div>
   
   
   <div class="tab-pane fade" id="Q"><!--      Q       -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= seven_tag("Q", "q", "クァ", "クィ", "クゥ","クェ", "クォ") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="R"><!--      R       -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= seven_tag("R", "r", "ラ", "リ", "ル","レ", "ロ") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="S"><!--      S       -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= seven_tag("S", "s", "サ", "シ", "ス","セ", "ソ") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="T"><!--      T       -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= seven_tag("T", "t", "タ", "チ", "ツ","テ", "ト") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="U"><!--      U       -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= three_tag("U", "u", "ウ") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="T"><!--             -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
         <%= seven_tag("T", "t", "タ", "チ", "ツ", "テ", "ト") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="V"><!--      V       -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= seven_tag("V", "v", "ヴァ", "ヴィ", "ヴ","ヴェ", "ヴォ") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="W"><!--      W       -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= seven_tag("W", "w", "ワ", "ウィ", "ウ","ウェ", "ヲ") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="X"><!--      X       -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= two_tag("X", "x") %>
     </div>
    </div>
   </div>
   
   
   <div class="tab-pane fade" id="Y"><!--      Y       -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= seven_tag("Y", "y", "ヤ", "イ", "ユ","イェ", "ヨ") %>
     </div>
    </div>
   </div>
   
   <div class="tab-pane fade" id="Z"><!--      Z       -->
    <div class="u_sh_tag center-block">
     <div class="u_sh_profile bo_rad_3 center-block">
            <%= seven_tag("Z", "z", "ザ", "ジ", "ズ", "ズ", "ゾ") %>
     </div>
    </div>
   </div>
   
   
 </div><!-- tab-content -->
</div>
</div>