<title><%= @micropost.title %></title>
    <%= simple_form_for(@micropost, html: { multipart: true }) do |f| %>
    
        <div class="error center-block">
          <% if f.object.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-danger">
                The form contains <%= pluralize(f.object.errors.count, "error") %>.
              </div>
              <ul>
              <% f.object.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        </div>
        
        <div class="form-group">
        <%= f.select :purpose, {"プロトタイプ" => 1, "プレゼンテーション" => 2}, class: :"form-control"%><br>
        <%= f.text_area :title, placeholder: "タイトルは30文字までです。", style: :"resize: none;", class: :"center-block form-control"%>
        <div class="form-group">
          <div id='editor'>
                <div class="di_inline_t" style="width: 690px;">
                  <textarea name="micropost[content]" class="form-control" rows="20" v-model='input' debounce='50' placeholder="内容は140文字までです。" style: :"resize: none;"></textarea>
                </div>
                <div class="di_inline_t preview">
                  <div v-html='input | marked' style: :"width: 650px;"></div>
                </div>
          </div>
        </div>
        
        </div>
        <%= f.submit "投稿する", class: "btn btn-primary center-block m_new_btn" %>
    <% end %>
</div>

<div class="b_10"></div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js'></script>
<script type="text/javascript">
  window.onload = function() {
    new Vue({
      el: '#editor',
      data: {
        input: '<%== j @micropost.content %>',
      },
      filters: {
        marked: marked,
      },
    });
  };
</script>