<!--          ログイントップページ          -->
<div class="top_content_in center-block">
    <%= render 'pages/search', q: @q %><!--          検索欄          -->
    <div><b>検索結果 <%= @all_q_mics.count %> 件</b></div><br>
    <div class="di_inline_t">
     <div class="in_letf"><!--          左サイド          -->

       <%= render 'pages/array', microposts: @q_mics %><!--      検索結果      -->
      <div class="t_a_c"><%= paginate @q_mics, :param_name => 'index' %></div>

     </div>
    </div>


    <div class="di_inline_t"><!--          右サイド          -->
     <%= render 'pages/right', tag_pops: @tag_pops, tag_microposts: @tag_microposts %>
    </div>
    
 </div>

<div class="b_100"></div>