<div class="top_content center-block">

    <%= simple_form_for(@micropost, html: { multipart: true }) do |f| %>
        <div class="form-group">
        <%= f.select :purpose, {"プロトタイプ" => 1, "プレゼンテーション" => 2}, class: :"form-control"%>
        <%= f.label :skill_list, "スキル・特技（カンマ区切り）" %><br>
        <%= text_field_tag 'micropost[skill_list]', @micropost.skill_list.join(','), :id => "article-tags"%>
        <%= f.text_area :title, placeholder: "タイトル", style: :"resize: none;", class: :"center-block form-control"%>

        <div class="form-group">
          <div id='editor'>
            <textarea name="micropost[content]" class="form-control" rows="20" v-model='input' debounce='50' placeholder="内容" style: :"resize: none;"></textarea>
            <div v-html='input | marked'></div>
          </div>
        </div>
        
        </div>
        <%= f.submit "投稿する", class: "btn btn-primary center-block" %>
    <% end %>
</div>


<script type="text/javascript">
  window.onload = function() {
    new Vue({
      el: '#editor',
      data: {
        input: '<%== j @micropost.content %>',
      },
      filters: {
        marked: marked,
      },
    });
  };
</script>