    <%= simple_form_for(@micropost, html: { multipart: true }) do |f| %>
    
    <%= render 'shares/error', object: @micropost %>
    <%= @caution %>
        <div class="form-group">
        <%= f.select :purpose, {"プロトタイプ" => 1, "プレゼンテーション" => 2}, class: :"form-control"%><br>
        <p class="mic_nw_open">ボタン</p>
        <div id="slideBox">
        <%= collection_check_boxes(:micropost, :tag_ids, Tag.all, :id, :name ) do |t|  %>
          <%= t.label { t.check_box + t.text } %>
        <% end %><br>
        </div>
        

        <p id="countUp">0</p>
        
        <%= f.text_area :title, placeholder: "タイトルは30文字までです。", style: :"resize: none;", class: :"center-block form-control"%>
        <div class="form-group">
          <div id='editor'>
                <div class="di_inline_t" style="width: 690px;">
                  <textarea name="micropost[content]" id="n" class="form-control" rows="20" v-model='input' debounce='50' placeholder="内容は140文字までです。" style: :"resize: none;"></textarea>
                </div>
                <div class="di_inline_t preview">
                  <div v-html='input | marked' style: :"width: 650px;"></div>
                </div>
          </div>
        </div>
        
        </div>
        <%= f.submit "投稿する", class: "btn btn-primary center-block m_new_btn" %>
    <% end %>
</div>

<div class="b_10"></div>


<script type="text/javascript">
  window.onload = function() {
    new Vue({
      el: '#editor',
      data: {
        input: '<%== j @micropost.content %>',
      },
      filters: {
        marked: marked,
      },
    });
  };
  
$(function(){
    $(".mic_nw_open").click(function(){
      $("#slideBox").slideToggle("slow");
    });
});

$(function () {
  $("#n").keyup(function(){
    var counter = $(this).val().length;
    $("#countUp").text(counter);
    
    if(counter == 0){
      $("#countUp").text("0");
    } 
    if(counter >= 10){
      $("#countUp").css("color","red");
    } else {
      $("#countUp").css("color","#666");
    }
  });
});

$("input[type=checkbox]").click(function(){
    var $count = $("input[type=checkbox]:checked").length;
    var $not = $('input[type=checkbox]').not(':checked')
        //チェックが3つ付いたら、チェックされてないチェックボックスにdisabledを加える
    if($count >= 3) {
        $not.attr("disabled",true);
    }else{
        //3つ以下ならisabledを外す
        $not.attr("disabled",false);
    }
});

</script>