<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= analytics_init if Rails.env.production? %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'usagi_black.png' %>
</head>
<body>
    <header>
      <% if controller.controller_name != 'registrations' &&  controller.controller_name != 'sessions' &&  controller.controller_name != 'contacts' &&  controller.controller_name != 'confirmations' %>
        <% if controller.action_name != 'new'%>
            <%= render 'layouts/header' %>
        <% end %>
      <% end %>
    </header>
    
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

      <% if controller.controller_name != 'registrations' &&  controller.controller_name != 'sessions' &&  controller.controller_name != 'contacts' &&  controller.controller_name != 'confirmations'%>
        <% if controller.action_name != 'new'%>
              <%= render 'layouts/footer' %>
        <% end %>
      <% end %>

</body>
</html>
