<!DOCTYPE html>
<html>
<head>
  <title>Prototype</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= include_gon(:init => true) %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
        <%= render 'layouts/header' %>
    </header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>
  <% if controller.controller_name != 'registrations' &&  controller.controller_name != 'sessions' %>
    <%= render 'layouts/footer' %>
  <% end %>
</body>
</html>
